html{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: rgba(50, 115, 220, 0.3);
}
h1{
    width: 80%;
    margin: 50px auto;
    text-align: center;
    color: rgb(67, 142, 255);
    font-size: 36px;
    font-weight: bold;
   
}

h2{
    margin: 10px auto;
    font-size: 28px;
    font-weight: bold;
}


.seccion-mascota{
    display: flex;   
    flex-direction: column;
    align-items: center;
     
}
.mascota-container{
    display: flex;
    justify-content: center;

}

.mascota-etiqueta{
    display: flex;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 15px;
    border: 2px solid white;
    border-radius: 15%;
}

.mascota-etiqueta:hover{
    cursor: pointer;
    box-shadow: 5px 5px 15px;   
}

.img-perro{
    background-image: url(./assets/perros.png);
    background-size: cover;
}

.img-gato{
    background-image: url(./assets/gatos.png);

}

.img-gorila{
    background-image: url(./assets/gorilas.png);
   
}
.check-mascota{
    display: none

}
.buttonElegir{
    width: 100px;
    height: 40px;
    margin-top: 50px;
    justify-self: center;
    color: white;
    font-size: 18px;
    background-color: grey;
    border-radius: 10px;
}
.buttonElegir:hover{
    cursor: pointer;
    background-color:rgb(67, 142, 255);
    box-shadow: 5px 5px 15px 15px;   
}

.seccion-ataque{
    width: 80%;
    height: auto;
    margin: 12px auto;
    text-align: center;
}
.button-ataque{
    width: 100px;
    height: 40px;
    margin: 15px;
    justify-self: center;
    color: white;
    font-size: 18px;
    background-color: grey;
    border-radius: 10px;
}
.button-ataque:hover{
    cursor: pointer;
    background-color:rgb(67, 142, 255);
    
}
.ataque-info{
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
}

.ataque--info-jugador, .ataque--info-contrario{
    width: 50%;
    height: auto;
    margin: 0;
}

.info-jugador{
    margin: 0;
    
}
.info-contrario{
    margin: 0;
   
}
.info-mascota{
    background-color: rgb(7, 1, 88);
    color: white;
}
.info-vidas{
    background-color: rgb(7, 1, 88);
    color: white;
}